.container {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}
.head-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-menu-body {
  font-size: 20px;
  font-weight: bold;
}
.serving-status {
  font-size: 20px;
  font-weight: bold;
}
.sort-menu-dish {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 40px;
  padding: 10px;
}
.button-order {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}
.company-area{
  margin-top: 20px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  color:black,
}
.company-area:hover{
  color:white;
  background-color: rgb(4, 4, 4);
}
.company-area a {
  text-decoration: none; 
  color: inherit; 
}
.company-area a:hover {
  text-decoration: none; 
  color: white; 
  background-color: rgb(4, 4, 4); /* Tuỳ chọn */
}
.All-area{
  background-color: rgb(255, 255, 255);
  font-size: 150%;
  width: 100%;
  border-radius: 5px;
  padding:5px;
}
.form-add-dish{
  display: flex;
  border:1px solid rgb(133, 133, 133);
  border-radius: 5px;
  height: 380px;
  align-items: center;
}
.form-add-dish{
  width: 100%;
}
.add-dish{
  font-size: 20px;
  font-weight: bold;
}
.add-tag,.up-tag{
  position: relative;
  height: 80%;
  width: 40%;
  margin-left: 10px;
}

.add-index{
  position: absolute;
  top:50px;
}
.add-des{
  position: absolute;
  top:100px;
}
.add-img{
  position: absolute;
  top:150px;
}
.add-price{
  position: absolute;
  top:200px;
}
.add-body,.up-body{
  position: relative;
  height: 80%;
  width: 60%;
}
.add-in-name{
  border-radius: 5px;
  width: 90%;
}
.add-in-index{
  position: absolute;
  top:50px;
  border-radius: 5px;
  width: 90%;
}
.add-in-des{
  position: absolute;
  top:100px;
  border-radius: 5px;
  width: 90%;
}
.add-in-img{
  position: absolute;
  top:150px;
  border-radius: 5px;
  width: 90%;
}
.add-in-price{
  position: absolute;
  top:200px;
  border-radius: 5px;
  width: 90%;
}
.add-in-sub{
  position: absolute;
  top:250px;
  border-radius: 5px;
  width: 90%;
}
.add-style{
  border-radius: 5px;
}

.search-dish{
  font-size: 20px;
  font-weight: bold;
}
.form-search-dish{
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
}
.search-in-name{
  width: 60%;
  border-radius: 5px;
}
.search-style{
  border-radius: 5px;
}
.container-search{
  width: 100%;
border: 1px solid rgb(136, 136, 136);
border-radius: 5px;
}
.delete-dish{
  font-size:20px;
  font-weight: bold;
}

.up-name{
  position: absolute;
  top:50px;
}
.up-index{
  position: absolute;
  top:100px;
}
.up-des{
  position: absolute;
  top:150px;
}
.up-img{
  position: absolute;
  top:200px;
}
.up-price{
  position: absolute;
  top:250px;
}
.up-in-code{
  width: 90%;
  border-radius: 5px;
}
.up-in-name{
  position: absolute;
  width: 90%;
  border-radius: 5px;
  top:50px;
}
.up-in-index{
  position: absolute;
  width: 90%;
  border-radius: 5px;
  top:100px;
}
.up-in-des{
  position: absolute;
  width: 90%;
  border-radius: 5px;
  top:150px;
}
.up-in-img{
  position: absolute;
  width: 90%;
  border-radius: 5px;
  top:200px;
}
.up-in-price{
  position: absolute;
  width: 90%;
  border-radius: 5px;
  top:250px;
}
.up-in-submit{
  position: absolute;
  border-radius: 5px;
  top:300px;
}
.submit-branch{
  border-radius: 5px;
}

.manageOrder-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manage-order-title {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  border: 1px solid rgb(202, 202, 202);
}
.direct-order,
.online-order,
.reservation-order {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 25%;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(114, 114, 114);
  text-decoration: none;
}
.direct-order:hover,
.online-order:hover,
.reservation-order:hover {
  background-color: rgb(133, 133, 133);
  color: white;
}
.active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 25%;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(114, 114, 114);
  text-decoration: none;
}
.manage-order-body {
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(195, 195, 195);
}
.manage-order-header {
  display: flex;
  background-color: #eaeff2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 10px;
}
.manage-order-footer {
  background-color: #eaeff2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.header-col-1 {
  width: 10%;
  color:red;
}
.header-col-2 {
  width: 10%;
}
.header-col-3 {
  width: 20%;
}
.header-col-5 {
  width: 20%;
}
.header-col-6 {
  width: 30%;
}
.header-col-7 {
  width: 10%;
}

.manage-order-content {
  padding: 10px;
}
.order {
  display: flex;
  height: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 5px;
}
.order-current {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.of{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.prev-btn,
.next-btn {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(61, 61, 61);
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(143, 143, 143);
}
.prev-btn:hover,
.next-btn:hover {
  background-color: #2492d2;
  color: rgb(255, 255, 255);
}
.btn-view{
  border-radius: 5px;
  
}

.input-branch{
  border-radius: 5px;
}


