<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-title fw">
          <button class="button-order">
            <h2>Manager Dish:</h2>
          </button>
          <div class="All-area">All area:</div>
          {{#each areas}}
            <div class="company-area">
              <a
                href="/company/dish/byarea/{{MaKhuVuc}}?index=Hotpot&page=1&limit=3"
              >{{TenKhuVuc}}</a>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="add-dish mt-5">Add Dish</div>
      <form id="addDishForm" class="form-add-dish">
        <div class="add-tag">
          <div class="add-name"> <label for="TenMonAn">Tên Món Ăn:</label></div>
          <div class="add-index"> <label for="Muc">Mục:</label></div>
          <div class="add-des"><label for="MoTa">Mô Tả Món Ăn:</label></div>
          <div class="add-img"><label for="HinhAnh">Hình Ảnh:</label></div>
          <div class="add-price"><label for="GiaHienTai">Giá Hiện Tại:</label></div>
        </div>
        <div class="add-body">
          <div>
            <input
              class="add-in-name"
              type="text"
              id="TenMonAn"
              name="TenMonAn"
              required
            /></div>
          <div><input
              class="add-in-index"
              type="text"
              id="Muc"
              name="Muc"
              required
            /></div>
          <div><input
              class="add-in-des"
              type="text"
              id="MoTa"
              name="MoTa"
              required
            /></div>
          <div>
            <input
              class="add-in-img"
              type="text"
              id="HinhAnh"
              name="HinhAnh"
              required
            /></div>
          <div><input
              class="add-in-price"
              type="number"
              id="GiaHienTai"
              name="GiaHienTai"
              required
            /></div>
          <div class="add-in-sub">
            <button class="add-style" type="submit">Thêm Món Ăn</button></div>
        </div>
      </form>

      <div class="search-dish mt-5">Search Dish</div>
      <form id="searchForm" class="form-search-dish">
        <label for="TuKhoa">Search Dish:</label>
        <input
          class="search-in-name"
          placeholder="Nhập từ khóa cần tìm kiếm..."
          type="text"
          id="TuKhoa"
          name="TuKhoa"
          required
        />
        <button class="search-style" type="submit">Search</button>
      </form>
      <div class="container-search">
        <h5>Search Results:</h5>
        <ul id="searchResults"></ul>
      </div>

      <div class="delete-dish mt-5">Delete Dish</div>
      <form id="deleteForm" class="form-search-dish">
        <label for="MaMonAn">Mã Món Ăn:</label>
        <input
          class="search-in-name"
          placeholder="Nhập mã món ăn cần xóa..."
          type="text"
          id="MaMonAn"
          name="MaMonAn"
          required
        />
        <button class="search-style" type="submit">Xóa Món Ăn</button>
      </form>

      <h1 class="mt-5">Cập Nhật Món Ăn</h1>

      <!-- Form Cập Nhật Món Ăn -->
      <form id="updateDishForm" class="form-add-dish">
        <div class="up-tag">
          <div class="up-code"><label for="MaMonAn">Mã Món Ăn:</label></div>
          <div class="up-name"><label for="TenMon">Tên Món Ăn:</label></div>
          <div class="up-index"><label for="Muc">Mục:</label></div>
          <div class="up-des"><label for="MoTa">Mô Tả Món Ăn:</label></div>
          <div class="up-img"><label for="HinhAnh">Hình Ảnh:</label></div>
          <div class="up-price"><label for="GiaHienTai">Giá Hiện Tại:</label></div>
        </div>

        <div class="up-body">
          <input
            class="up-in-code"
            type="text"
            id="a"
            name="MaMonAn"
            required
          /><br /><br />
          <input
            class="up-in-name"
            type="text"
            id="b"
            name="TenMon"
            required
          /><br /><br />
          <input
            class="up-in-index"
            type="text"
            id="c"
            name="Muc"
            required
          /><br /><br />
          <input class="up-in-des" type="text" id="d" name="MoTa" required /><br
          /><br />
          <input
            class="up-in-img"
            type="text"
            id="e"
            name="HinhAnh"
            required
          /><br /><br />
          <input
            class="up-in-price"
            type="number"
            id="f"
            name="GiaHienTai"
            required
          /><br /><br />
          <button class="up-in-submit" type="submit">Cập Nhật</button>
        </div>

      </form>

      <!-- Kết quả thông báo -->
      <div id="updateResult"></div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-title fw">

          <button class="button-order">
            <h2>Manager Order</h2>
          </button>
        </div>

        <a href="company/order?page=1&limit=10">
          <button class="button-order mt-5">
            View all branch
          </button>
        </a>

         <form id="view-order" class="mt-5">
            <div>
              <input
                type="text"
                id="branch"
                class="input-branch"
                placeholder="Nhập mã chi nhánh..."
              />
              <button class="submit-branch">submit</button>
            </div>
          </form>
          
      </div>

     
   
      <div class="manage-order-title">
        <div class="direct-order" id="tructiep">Direct order</div>
        <div class="online-order" id="online">Online order</div>
        <div class="reservation-order" id ="giaohang">Reservation order</div>
      </div>

      <div class="manage-order-body">
        <div class="manage-order-header">
          <div class="header-col-1">
            #
          </div>
          <div class="header-col-2">
            ORDER ID
          </div>

          <div class="header-col-3">
            DATE
          </div>

          <div class="header-col-5">
            TOTAL COST
          </div>

          <div class="header-col-6">
            CASHIER
          </div>
          <div class="header-col-7">
            VIEW
          </div>
        </div>

        <div class="manage-order-content">

          <div id="order-results">
            <!-- Dữ liệu sẽ được hiển thị ở đây -->
          </div>
        </div>

        <div class="manage-order-footer" id="minOfmax">

        </div>

      </div>

    </div>

  </div>
</div>