<div id="app" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-title fw">
          List Area
        </div>

        <div class="card-body">
          <div v-for="(item, index) in area" :key="index">
            <div v-html="item.TenKhuVuc" @click="goToArea(index)"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-9">
      <div class="head-menu">
        <div class="title-menu-body"> Sashimi combo</div>
        <div class="sort-menu-dish">Sort by Pricing</div>
        <div class="serving-status">Serving status</div>
      </div>
    </div>
  </div>

</div>